.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 1.5vw;
	z-index: 999;
}

.nav-background {
	width: 40vw;
	height: 3.1vw;
	padding-left: 0%;
	padding-right: 3%;
	background: #1f2228;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}

.nav-list {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	align-items: center;
	margin-top: 0.6vw;
}

.nav-item {
	font-weight: bold;
	font-size: 1.2vw;
	color: white;
}

.nav-item.active a {
	color: #61dafb;
}

.nav-item a {
	text-decoration: none;
	color: var(--primary-color);
}

.nav-item a:hover {
	color: #61dafb;
	text-shadow: 0 0 10px #61dafb; /* Define the glow effect */
	transition: color 0.3s ease-in-out;
}

@media (max-width: 1000px) {
	.navbar {
		display: none;
		margin-left: 25%;
		margin-right: 25%;
		width: 80%;
		font-size: 80%;
	}

	.nav-background {
		width: 80%;
		height: 40px;
	}

	.nav-item {
		font-weight: bold;
	}
}