.recco-container {
  margin-top: 100px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.desc {
	margin-bottom: 20px;
}

@media (max-width: 1000px) {
	.recco-container {
		margin-top: 70px;
	}

	.desc {
		font-size: 13px;
	}
}
