.review-container-1 {
	display: flex;
}

.review-container-2 {
	flex: column;
	height: 10%;
	width: 90%;
	margin-top: 0.6%;
}

img {
	font: optional;
	border-radius: 6%;
	height: 200px;
	width: 340px;
}

.title {
	font-size: 35px;
}

.sentence {
	color: #61dafb;
	font-size: 25px;
}

.image {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
}

.rating {
	font-size: 4.3vw;
	margin-top: 1.9%;
	padding-right: 2.8%;
}

@media (max-width: 1000px) {
	.review-container-1 {
		display: flex;
	}

	.review-container-2 {
		flex: column;
		width: 90%;
		padding-right: 0.4%;
	}

	.review-container-3 {
		flex: column;
		width: 35vw;
		height: 20px;
	}

	img {
		display: none;
		width: 170px;
  		height: 100px;
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-85%, -50%);
	}
	
	.image {
  		display: flex;
  		justify-content: center; /* Horizontally center the image */
  		align-items: center; /* Vertically center the image */
		position: relative;
	}

	.title {
		font-size: 20px;
	}

	.sentence {
		color: #61dafb;
		font-size: 14px;
	}

	.rating {
		font-size: 4.3vw;
		margin-top: 4.5%;
		padding-right: 2.8%;
	}
}