.company {
	color: #61dafb;
}
  
.container {
	display: block;
	text-align: left;
	padding: 15px;
}

.container:hover {
	box-shadow: 0 0 15px 5px #61dafb; /* Adjust the color and size of the glow as needed */
	outline: 4px solid #61dafb;
	border-radius: 10px;
}

#text {
	font-size: 20px;
	width: 800px;
	overflow: hidden;
	text-overflow: ellipsis;
}