.dates {
	color: white;
	font-size: 1.3vw;
	margin-left: auto;
}
  
.container {
	display: block;
	text-align: left;
	padding: 15px;
}

.container:hover {
	box-shadow: 0 0 15px 5px #61dafb; /* Adjust the color and size of the glow as needed */
	outline: 4px solid #61dafb;
	border-radius: 10px;
}

.container-2 {
	display: flex;
	justify-content: space-between;
}

.container-3 {
	flex: column;
}

.container-4 {
	display: block;
	text-align: right;
}

b {
	font-size: 1.5vw;
}

b.company {
	color: #61dafb;
}

.text {
	font-size: 1.3vw;
	width: 40vw;
	overflow: hidden;
	text-overflow: ellipsis;
}