.dates {
	color: white;
}
  
.container {
  display: block;
  padding: 2%;
  width: 90%; 
  margin: 0 auto; 
  margin-bottom: 1%; 
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  transition: 2s ease-in-out;

}

.container:hover {
	box-shadow: 0 0 10px 5px #61fbcf; /* Adjust the color and size of the glow as needed */
	outline: 4px solid #61fbcf;
	border-radius: 20px;
	transition: 0.1s ease-in-out;
}

.container-2 {
	display: flex;
	justify-content: space-between;
}

.container-3 {
	flex: column;
}

.container-4 {
	text-align: right;
}

b {
	font-size: 28px;
}

b.company {
	color: #61dafb;
}

.text {
	font-size: 25px;
	width: 100%;
}

.icon {
	font-size: 25px;
}

@media (max-width: 1000px) {
	.dates {
		color: white;
	}
	
	.container:hover {
		box-shadow: 0 0 10px 5px #61fbcf; /* Adjust the color and size of the glow as needed */
		outline: 0px solid #61fbcf;
		border-radius: 20px;
		transition: 0.1s ease-in-out;
	}

	.container-2 {
		display: flex;
		justify-content: space-between;
	}

	.container-3 {
		flex: column;
	}

	.container-4 {
		display: block;
		text-align: right;
	}

	b {
		font-size: 14px;
	}

	b.company {
		color: #61dafb;
	}

	.icon {
		font-size: 14px;
	}
	.text {
		font-size: 14px;
	}
}