.bar {
	display: flex;
	flex-direction: row;
	width: 15%;
	align-items: center;
	justify-content: space-around;
}

.type {
	display: inline-block;
	position: relative;
	font-size: 22px;
}

.type::after {
	content: '';
  	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: #61dafb;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.type:hover::after {
	transform: scaleX(1);
  	transform-origin: bottom left;
}
