body {
	overscroll-behavior-y: contain;
	background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  font-size: 30px;
  color: white;
}

.app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 8%;
	height: 100vh;
}

.app-container1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 8%;
}

.app-container2 {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-top: 2%;
	margin-left: 4%;
}

.name {
	font-size: 55px;
	width: 100%;
}

.welcome {
	text-align: left;
	text-decoration: none;
	color: #61dafb;
	font-size: 50px;
	line-height: 1.4;
}

.description {
	text-align: left;
	display: block;
	width: 25vw; 
  	overflow-wrap: break-word; 
  	word-break: break-word; 
}

.app-container3 {
	display: flex;
	flex-direction: column;
	margin-top: 2%;
	width: 60%;
}

.headshot {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 0px  0px 0px 0px #90e0ef;
	animation: fadeOut 0.5s;
}

.headshot:hover {
	border-radius: 50%;
	animation: fadeIn 1s;
	box-shadow: 0px  0px 20px 10px #90e0ef;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

@keyframes fadeOut {
	from {
		box-shadow: 0px  0px 20px 10px #61dafb;
	}

	to {
		box-shadow: 0px  0px 0px 0px #61dafb;
	}
}

@keyframes fadeIn {
	from {
		box-shadow: 0px  0px 0px 0px #61dafb;
	}

	to {
		box-shadow: 0px  0px 20px 10px #61dafb;
	}
}

@media (max-width: 1000px) {
	.app-container {
		display: flex;
		flex-direction: row;
		align-items: left;
		justify-content: center;
		margin-left: 1%;
		height: 100vh;
	}

	.app-container3 {
		margin-top: 2%;
		width: 80%;
	}

	.links {
		margin-left: 30%;
		font-size: 30px;
	}
}