.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  font-size: calc(0.6vw + 2vmin);
  color: white;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 28%;
	height: 100vh;
}

.container2 {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-top: 2%;
	margin-left: 4%;
}

.container1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.name {
	font-size: 2.8vw;
	width: 100%;
}

.welcome {
	text-align: left;
	text-decoration: none;
	color: #61dafb;
	font-size: 2.8vw;
	line-height: 1.4;
}

.description {
	text-align: left;
	display: block;
	width: 25vw; 
	font-size: 1.5vw;
  	overflow-wrap: break-word; 
  	word-break: break-word; 
}

.container3 {
	display: flex;
	flex-direction: column;
	margin-top: 2%;
	width: 60%;
}

.headshot {
	width: 20%;
	height: 20%;
	border-radius: 50%;
	box-shadow: 0px  0px 0px 0px #90e0ef;
	animation: fadeOut 0.5s;
}

.headshot:hover {
	border-radius: 50%;
	animation: fadeIn 1s;
	box-shadow: 0px  0px 20px 10px #90e0ef;
}

.container3 {
	margin-right: 6%;
}

a {
	color: white;
}

a:hover {
	color: #61dafb; 
}

@keyframes fadeOut {
	from {
		box-shadow: 0px  0px 20px 10px #61dafb;
	}

	to {
		box-shadow: 0px  0px 0px 0px #61dafb;
	}
}

@keyframes fadeIn {
	from {
		box-shadow: 0px  0px 0px 0px #61dafb;
	}

	to {
		box-shadow: 0px  0px 20px 10px #61dafb;
	}
}