.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 0px;
	height: 100vh;
}

.containera {
	display: flex;
	flex-direction: column;
}

.container1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.name {
	text-align: left;
	text-decoration: none;
	color: #61dafb;
	font-size: 2.8vw;
	width: 100%;
}

.description {
	text-align: left;
	display: block;
	width: 25vw; 
	font-size: 1.5vw;
  	overflow-wrap: break-word; 
  	word-break: break-word; 
	margin: 0%;
}

.container2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	margin-top: 2%;
	margin-left: 8%;
}

img {
	width: 20%;
	border-radius: 50%;
	box-shadow: 0px  0px 0px 0px #90e0ef;
	animation: fadeOut 0.5s;
}

img:hover {
	width: 20%;
	border-radius: 50%;
	animation: fadeIn 1s;
	box-shadow: 0px  0px 20px 10px #90e0ef;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Set the height of the top bar */
  padding: 30px 600px; /* Add some padding to the left and right */
  background-color: #282c34;
  color: white;
}


.image {
	margin-right: 70px;
}

a {
	color: white;
}

a:hover {
	color: #61dafb; 
}

@keyframes fadeOut {
	from {
		box-shadow: 0px  0px 20px 10px #61dafb;
	}

	to {
		box-shadow: 0px  0px 0px 0px #61dafb;
	}
}

@keyframes fadeIn {
	from {
		box-shadow: 0px  0px 0px 0px #61dafb;
	}

	to {
		box-shadow: 0px  0px 20px 10px #61dafb;
	}
}